name: GlyphOS-CI
on: [push, pull_request]

jobs:
  test:
    runs-on: ubuntu-latest      #  Linux runners
    steps:
      - uses: actions/checkout@v5

      - uses: actions/setup-python@v5
        with:
          python-version: '3.11'

      
      - run: pip install -e ".[dev]"      

      
      - run: python tests/test_sdk_full.py
