name: Deploy to Dokploy

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Trigger Dokploy Deployment
        run: curl -X POST "http://157.173.126.133:3000/api/deploy/axOwUS_tyxmPomNDHGEEG"
